.banner {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.header {
  font-size: 25px;
  margin-top: 15px;

  color: black;
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 89%;
  margin: auto;
}
.card2{
  display: flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  width: auto;
  margin-top: 50px;
  height: auto;

  /* width: 89%;
  margin: auto; */
}
.desimcal {
  width: 560px;
  height: 315px;
}
.banner2 {
  width: 89%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.banner3 {
  width: 89%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.cardwidth{
  width: 250px;
  border: 2px solid red;
}
