.banner {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.header {
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 89%;
  margin: auto;
}
.desimcal {
  width: 520px;
  height: 295px;
}
.banner2 {
  width: 89%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.banner3 {
  width: 89%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
