.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 12rem;
    
}
.container{
    background-color: rgb(243,243,243);
    padding-left: 10%;
    padding-right: 10%;
}