.cardContainer{
    display: grid;
    grid-template-columns: repeat(3,300px);
    margin-left: 17rem;
    row-gap: 30px;
    
}
.container{
    background-color: rgb(243,243,243);
    padding-left: 10%;
    padding-right: 10%;
}